<div class="frame">
  <h5>Select what to draw:</h5>
  <button type="button" class="btn btn-primary" (click)="chooseShape('draw_polygon')">Polygon</button>
  <button type="button" class="btn btn-primary" (click)="chooseShape('draw_line_string')">Line</button>
  <button type="button" class="btn btn-primary" (click)="chooseShape('draw_point')">Point</button>
</div>


<h5 style="margin-top: 20px;">List of annotations:</h5>
<div id="listings" class="listings">
  <div *ngFor="let item of annotations | keyvalue; let i = index"
       class="item"
       [attr.id]="item.key"
       [class.active]="selectedShape === item.key">
    <a href="#"
       class="title"
       (click)="moveToFeature(item.value)">
      {{item.value.geometry.type}}
    </a>
 <b button type="button" class="btn btn-secondary btn-sm" (click)=" removeShape(item.key)" >
   X
</b>
  </div>
</div>



