.frame{

  margin-top:20px
}
button{
margin: 0 5px;

}


.listings {
  height: calc(100% - 60px);
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .active button {

 background-color: #8cc63f ;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  font-size: 1.2em;
  display: block;
  color: #00853e;
  font-weight: 700;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
  color: #8cc63f;
  background-color:black;
}

.listings .item.active {
  background-color: #f8f8f8;
}


.scroll#listings  {
  padding:4px;
  height: 400px;
  overflow-x: hidden;
  overflow-x: auto;
  text-align:justify;
}
