/* You can add global styles to this file, and also import other style files */
/* input .red{

  background-color: red;
  color: red;
} */


#geocoder input {
  display: block;
  width: 100%;
}
#geocoder .mapboxgl-ctrl-geocoder{
width: 100%;
max-width: none;

}
